h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.grid-container{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}
.travel-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border: 3px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}
.travel-grid img{
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    border: 3px solid #cccccc;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); 
}
.travel-div{
    border: 1px solid #eeeeee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.travel-grid img:hover{
    transform: scale(1.5);
    transition: transform 0.1s;
}
.travel-div h2{
    font-size: 40px;
    font-weight: bold;
    grid-column: 1 / -1;
}
.travel-div p{
    font-size: 20px;
    grid-column: 1 / -1;
}
.travel-div img{
    border: 3px solid #cccccc;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); 
}
.photo{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 2px solid black;
    align-items: center; 
}
.photo img, .photo video{
    border: 2px solid black;
    padding: 10px;
}
.active{
    font-weight: bold;
}
.skip-link:focus {
    width: auto;
    height: auto;
}
.skip-link {
    overflow: hidden;
    width: 0;
    height: 0;
    display: block;
}
nav {
    background-color: pink;
    overflow: hidden;
    border-radius: 8px;

}
nav ul {
    list-style-type: none;
    padding: 2;
    margin: 2;
    display: flex;
}
nav ul li {
    float: left;
}
nav ul li a {
    background-color: pink;
    display: block;
    border-radius: 6px;
    text-align: center;
    padding: 7px 8px;
    cursor: pointer;
    margin: 0;
    outline: 0;
    transition: all .1s linear;
    padding: 12px 20px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    transition-delay: 0s, 12s;
}

nav ul li a:hover {
    background-color: rgb(0, 155, 207);
    transform: translateY(3px);
}


.recipe-container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal width columns */

}
body{
    background-color: #0baf73;
    padding: 20px;
    margin: 0;

}
#main {
    max-width: auto; /* Optimal reading width */
    margin: 0 auto; /* Center align the main content */
    background-color: #fff; /* White background for the main content */
    padding: 20px;
    border-radius: 8px;
}
@media(prefers-reduced-motion: reduce){
    .photo img, .photo video{
        animation: none;
    }
    img[srf$=".gif"]{
        display: none;
    }
}
